/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    height: 2000px;
    font: 16px/28px arial, sans-serif;
    background-image: url("bg.jpg");
    color: black;
}
.container {
    width: 960px;
    margin: 80px auto;
    background-color: white;
    position: relative;
}

.fb{
    width: 120px;
    height: 120px;
    background-image: url("fb.png") ;
    background-repeat: no-repeat;
    display: inline-block;
    text-indent: -9999px ;
    position: absolute;
    right: 0px;
}
.header{
    padding: 20px;
    padding-bottom: 10px;
}
.header .judul {
    font-size: 40px;
    font-weight: bold;
}
.header ul li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
}
.header a {
    text-decoration: none;
    color: orange;
}

.header a:hover{
    background-color: blue;
    color: white;
}
.hero {
    height: 320px;
    background-image: url("1.jpg");
    background-size: cover;
    background-position: 0 250;
    border-top: 5px solid salmon;
    border-bottom: 5px solid cyan;
}
.main{
    width: 600px;
    padding: 20px;
    box-sizing: border-box;
    float: left;
}
.main h2 {
    font-size: 32px;
    font-weight: bold;
}
.main .penulis{
    font-size: 15px;
    margin-top: -5px;
}
.main .penulis a {
    color: salmon;
    text-decoration: none;
}
.main p{
    margin-bottom: 20px;
    font-size: 14px;
}
.footer{
    background-color: black;
    padding: 12px;
}
.footer .copy {
color: white;
    text-align: center;
    font-size: 12px;

}
/* sidebar */
.sidebar {
    width: 300px;
    float: right;
}
.sidebar img {
    width: 70px;
    height: 70px;
    float: left;
    padding: 5px;
}

.sidebar p {
    font: 20px/18px arial;
}

.sidebar h3 {
    font-weight: bold;
    color: grey;


}

/* clearfix */
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}


.top-bar{
    left: 0px;
    top: 0px;
    right: 0px;
    height: 40px;
    background-color: darkblue;
    border-bottom: 2px solid black;
    position: fixed;
    z-index: 999;
}

.iklan{
    background-color: black;
    top: 100px;
    right: 100px;
    bottom: 100px;
    left: 100px;
    border: 2px solid black;
    position: fixed;
    z-index: 1000;
    background-image: url("shopee.jpg");
}

.close{
    border-radius: 50%;
    position: absolute;
    background-color: white;
    border: 2px solid black;
    top: -15px;
    right: -15px;
    width: 20px;
    height: 20px;
}
.close{
    text-align: center;
    font: 20px arial;
}
.close{

}
